body{
    text-align: center;
    color:red;
    background-color: grey;
    margin: 10px
}
.Title{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    background: linear-gradient(orange,rgb(255, 204, 0),  rgb(255, 227, 88), rgba(255, 255, 0, 0.134));
    border-radius: 20px;
    /* text-align:center; */
    width: 40vw;
    margin:auto;
    padding:auto;
}
input{
    font-size: 3rem;
}
button{
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    background:linear-gradient(orange, rgb(255, 227, 11), orange);
    border:none;
    margin:10px;
    font-size:1.5rem;
    border-radius: 20px;
}
button:hover{
    color: rgb(110, 110, 110);
    background:linear-gradient(rgb(255, 183, 49), rgb(225, 199, 0), rgb(255, 183, 49));
    /* background-color: rgb(255, 98, 98); */
    border:none
}
button:active{
    color: rgb(178, 178, 178)
}

#gameOutcome{
    font-size:2rem
}
